<article class="post-item">
  <h2><%= postrecord.title %></h2>
  <p class="post-item-author">By <%= postrecord.author.name %></p>
  <p><%= postrecord.summary %></p>
  <div class="post-actions">
    <button class="btn btn-alt">Delete Post</button>
    <a href="...">Edit Post</a>
    <a class="btn" href="/posts/<%= postrecord._id %>">View Post</a>
  </div>
</article>